@model Product
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div >
            <img src="@Url.Content(@Model.Image)" width="300" height="250" alt="menu">

            <div class="caption">

                <h3>
                    <a asp-controller="App" asp-action="Shop"
                       asp-route-id="@Model.ProductId">
                        @Model.ProductName <br><br />
                    @Model.ProductPrice.ToString("c")
                </a>
            </h3>

        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-productId="@Model.ProductId">Add to cart</a>
            </p>
        </div>
        </div>
           
                
        
    </div>